<h1> Transactions for <%= user.username %>
</h1>
<br>
<p>
  <a class="btn btn-lg btn-primary" href="/transaction">Return to all transactions</a>
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <% categories.map(category => { %>
      <tr>
        <td>
          <%= category._id %>
        </td>
        <td>
          <%= category.total %>
        </td>
      </tr>
    <% }) %>
  </tbody>